/* MovieDetail.css */


.movie-detail-card {
    display: flex;
    background-color: #fff; 
    border-radius: 12px;
    max-width: 400px; 
    margin: 0 auto;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    z-index: 2;
    background-color: #343739;
    padding: 16px 24px 24px 24px;
  }
  

  .movie-detail-image {
    flex: 1; 
  }
  
  
  .movie-detail-content {
    flex: 3; 
    padding: 20px; 
    text-align: left; 
    color: white;
  }
  
  h2{
    font-size: 1.5rem; 
    color: #f9d3b4;
  }
  h3{
    color: aqua;
  }

  img {
    margin-top: 15px;
    max-width: 100%; 
  }
  